<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>生組裝成品報表</title>
</head>
<body>
    <h1>生組裝成品報表</h1>
    <table>
        <thead>
            <tr>
                <th>成品編號</th>
                <th>成品名稱</th>
                <th>鞋盒編號</th>
                <th>鞋盒名稱</th>
                <th>鞋子編號</th>
                <th>鞋子名稱</th>
            </tr>
        </thead>
        <tbody th:remove="all-but-first">
            <tr th:each="shoeFP : ${shoeFPs}" >
                <td th:text="${shoeFP.shoeFpNumber}"/>
                <td th:text="${shoeFP.shoeFpName}"/>
                <td th:text="${shoeFP.shoeBox.shoeBoxName}"/>
                <td th:text="${shoeFP.shoeBox.shoeBoxNumber}"/>
				<td th:text="${shoeFP.shoe.shoeName}"/>
                <td th:text="${shoeFP.shoe.shoeNumber}"/>
                <!-- <td th:text="${'￥' + #numbers.formatDecimal(shoe.price, 1, 2)}">￥350</td>
                <td th:text="${#dates.format(shoe.availableFrom, 'dd-MM-yyyy')}">2018-02-20</td> -->
            </tr>
        </tbody>
    </table>
</body>
</html>